body{
    background-color: white;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
}
.navbar{
    background-color: #ffffff;
}
.nav-link{
    color: #000;
}
.carousel{
    padding: 0px 0 200px 0;
    margin: 0;
    max-width: 100%;
    height: 600px;
}
.edit1{
    padding: 20px 0 0 0;
}
.t1{
    width: 50px;
    height: 50px;
    padding: 0 0 20px 0;
}
.navbar-toggler-icon{

}
.padd{
    padding: 0 0 0 50px;
}
#slide1{
    height: auto;
    max-width: 100%;
}
#slide2{
    height: auto;
    max-width: 100%;
}
#slide3{
    height: auto;
    max-width: 100%;
}
#indicts{
    position: relative;
    top: 520px;
}
.ccc{
    background-color: black; !important;
}
.hp4{
    padding: 15px 0 0 0;
}
.p4{
    text-align: justify;
    padding: 15px 0 0 400px;
}
.wrappp{
    word-wrap: break-word;
    width: 1000px;
;
}
#logo{
    width: 40px;
    height: 40px;
}
.p1{
    text-align: justify;
    font-size: 18px;
}
.kl{
    width: 200px;
    height: 200px;
}
.templ{
    width: 300px;
    height: 300px;
}
.hp1{
    font-size: 2.5em;
}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    height: auto;
}
.p2{
    text-align: justify;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0 250px;
    height: auto;
    max-width: 100%;
}

.jumbotron1{
    max-width: 100%;
    height: auto;
    background-size: cover; !important;
    background-color: white;
    padding:130px 0 250px 0 !important;
    margin: 0 !important;
}
.jumbotron2{
    max-width: 100%;
    height: auto;
    background-size: cover; !important;
    background-color: white;
    padding:110px 0 180px 0 !important;
    margin: 0 !important;
}

